.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container {
  padding: 4rem;
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 1rem;
}
input,textarea {
  width: 100%;
  padding: 1rem;
  background: #fff;
  color: black;
}
.btn {
  background: green;
}
.start {
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;
}
button:hover {
  transform: scale(1.2);
}
.posted {
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.start h5 {
  margin-bottom: 10px;
  color: black;
}
.edit,.delete {
  color: #fff;
  border: none;
  cursor: pointer;
}
.post {
  padding-right: 20px;
}
@media screen and (max-width: 600px) {
  .nav-bar {
    gap: 2rem;
  }
  .container {
    grid-template-columns: 100%;
  }
  .posted {
    padding: 10px;
  }
}
